body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #f0f2f5;
}

.container {
    text-align: center;
}

.menu {
    margin-bottom: 20px;
}

.menu-btn {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.3s;
}

.menu-btn:hover {
    background-color: #0056b3;
}

.display-area {
    width: 600px;
    height: auto;
    background: white;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #333;
}

.display-area-load {
    width: 300px;
    height: 150px;
    background: white;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #333;
}